<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css,js/simple.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Damion&family=Gowun+Dodum&family=Kalam&family=Monoton&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src ="https://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ url_for('static', filename='css,js/simple.js') }}"></script>
    <script src="{{ url_for('static', filename='css,js/canvas2.js') }}"></script>
    <script src="{{ url_for('static', filename='css,js/canvas3.js') }}"></script>
    <script src="{{ url_for('static', filename='css,js/popup.js') }}"></script>
  </head>
  <body>
    <div class="topbox">   
        <a href="{{url_for("home")}}">   
          <button style="background-image: url('/static/logo.png');transform: scale(1.2); position:fixed; left:45%; top:34px; width:172px; height:55px; border:0px;"></button>
        </a>
        <button onclick="popupShow();" id = "style_button1" class="style_button">Text To Image</button>
        <button onclick="popupShow2();" id="style_button2" class="style_button" style="position:absolute; width:160px; left:186px;">Image To Image</button>
        <button onclick="popupShow3();" id="style_button3" class="style_button2" style="">InPainting</button>
        <button onclick="popupShow4();" id="style_button4" class="style_button2" style="position:absolute; left:190px;">Open Pose</button>
        <input type="text" style="width:120px; height:25px; margin-top:50px; margin-left:3px; margin-right:20px; background-color:whitesmoke; border:0px;float:right;border-radius: 10px" id="user" name="user" value=""/>
        <input type="radius" style="width:72px; background-color:#a7b3e9; border:0px;float:right;font-size:20px; margin-top:48px;" value="User Id: "/>
      <hr style="width:100%; position:absolute; top:112px;">
    </div>
    <div class="allbody" id="allbody">
      <div class="half">
        <h2 style="color:antiquewhite; margin-top:70px">공개된 모든 이미지</h2>
        <div style="width:100%;height: 45px; display: flex;flex-direction: row;justify-content: center;">
          <select id="stdname1" style="margin: 1px; width: 150px; height:40px; border-radius:10px; background-color:white; margin-right:2px; vertical-align: middle;">
            <option value="전체보기" style=" background-color: white;" selected>전체보기</option>
            <option value="Text To Image" style=" background-color: white;">Text To Image</option>
            <option value="Img To Img" style=" background-color: white;">Img To Img</option>
            <option value="InPaint" style=" background-color: white;">InPainting</option>
            <option value="Pose" style=" background-color: white;">Open Pose</option>
          </select>
          <button onclick="stdname();" class="completefileselect">선택 완료</button>
        </div>
        {% if stdlength != 0 or stdlength2!=0%}
        {% for list in std_list %}
          <a href={{url_for("detail", index=list[0])}} style="width:360px; height:500px; display:flex; justify-content:center; align-items:center;">
              <div class="my_list">
                  <h2 style="background-color:white; border-radius:10%;" >
                      <div style="width:20px; margin:0px; margin-left:190px;">
                          <p class="index_box" id="index" >{{list[0]}}</p>
                      </div>
                      <img id="image" src="{{list[10]}}" style="width: 400px; height: 400px;"/>
                      <div style="width:380px; margin-left:8px; align-items: right;">
                          <input class="info_box" value="입력한 문장: {{list[3]}}" style="font-size:15px; margin-top:10px;"/>
                          <input class="info_box" value="제외할 문장: {{list[4]}}"/>
                          <input class="info_box" value="사용한 필터: {{list[5]}}"/>
                          <input class="info_box" style="border-radius:20px;" value="사용한 파일: {{list[6]}}"/>
                      </div>
                  </h2>
              </div>
          </a>
        {% endfor %}
        {% for list in std_list2 %}
        <a href={{url_for("detail2", index=list[0])}} style="width:360px; height:500px; display:flex; justify-content:center; align-items:center;">
          <div class="my_list">
              <h2 style="background-color:white; border-radius:10%;" >
                  <div style="width:20px; margin:0px; margin-left:190px;">
                      <p class="index_box" id="index" >{{list[0]}}</p>
                  </div>
                  <img id="image" src="{{list[8]}}" style="width: 400px; height: 400px;"/>
                  <div style="width:380px; margin-left:8px; align-items: right;">
                      <input class="info_box" value="입력한 문장: {{list[3]}}" style="font-size:15px;"/>
                      <input class="info_box" value="제외할 문장: {{list[4]}}"/>
                      <input class="info_box" value="사용한 필터: {{list[5]}}"/>
                      <input class="info_box" style="border-radius:20px;" value="사용한 파일1: {{list[6]}}"/>
                      <input class="info_box" style="border-radius:20px; margin-right:22px; width:300px;" value="사용한 파일2: {{list[7]}}"/>
                  </div>
              </h2>
          </div>
        </a>
      {% endfor %}{%else%}
        <h2 style="color:antiquewhite; margin-top:70px">이미지를 생성해 주세요</h2>
        {% endif %}
      </div>
      <hr style="margin:8px;">
      <div class="half">
        <h2 style="color:antiquewhite; margin-top:70px">내가 생성한 이미지</h2>
        <div style="width:100%;height: 45px; display: flex;flex-direction: row;justify-content: center;">
          <select id="stdname2" style="margin: 1px; width: 150px; height:40px; border-radius:10px; background-color:white; margin-right:2px; vertical-align: middle;">
            <option value="전체보기" style=" background-color: white;" selected>전체보기</option>
            <option value="Text To Image" style=" background-color: white;">Text To Image</option>
            <option value="Img To Img" style=" background-color: white;" >Img To Img</option>
            <option value="InPaint" style=" background-color: white;">InPainting</option>
            <option value="Pose" style=" background-color: white;">Open Pose</option>
          </select>
          <button onclick="stdname();" class="completefileselect">선택 완료</button>
        </div>
        {% if twolength != 0 or twolength2!=0%}
        {% for list in twofile_list %}
          <a href={{url_for("detail", index=list[0])}} style="width:360px; height:500px; display:flex; justify-content:center; align-items:center;">
              <div class="my_list">
                  <h2 style="background-color:white; border-radius:10%;" >
                      <div style="width:20px; margin:0px; margin-left:190px;">
                          <p class="index_box" id="index" >{{list[0]}}</p>
                      </div>
                      <img id="image" src="{{list[10]}}" style="width: 400px; height: 400px;"/>
                      <div style="width:380px; margin-left:8px; align-items: right;">
                          <input class="info_box" value="입력한 문장: {{list[3]}}" style="font-size:15px; margin-top:10px;"/>
                          <input class="info_box" value="제외할 문장: {{list[4]}}"/>
                          <input class="info_box" value="사용한 필터: {{list[5]}}"/>
                          <input class="info_box" style="border-radius:20px;" value="사용한 파일: {{list[6]}}"/>
                      </div>
                  </h2>
              </div>
          </a>
        {% endfor %}
        {% for list in two_list %}
        <a href={{url_for("detail2", index=list[0])}} style="width:360px; height:500px; display:flex; justify-content:center; align-items:center;">
          <div class="my_list">
              <h2 style="background-color:white; border-radius:10%;" >
                  <div style="width:20px; margin:0px; margin-left:190px;">
                      <p class="index_box" id="index" >{{list[0]}}</p>
                  </div>
                  <img id="image" src="{{list[8]}}" style="width: 400px; height: 400px;"/>
                  <div style="width:380px; margin-left:8px; align-items: right;">
                      <input class="info_box" value="입력한 문장: {{list[3]}}" style="font-size:15px;"/>
                      <input class="info_box" value="제외할 문장: {{list[4]}}"/>
                      <input class="info_box" value="사용한 필터: {{list[5]}}"/>
                      <input class="info_box" style="border-radius:20px;" value="사용한 파일1: {{list[6]}}"/>
                      <input class="info_box" style="border-radius:20px; margin-right:22px; width:300px;" value="사용한 파일2: {{list[7]}}"/>
                  </div>
              </h2>
          </div>
        </a>
      {% endfor %}{%else%}
        <h2 style="color:antiquewhite; margin-top:70px">UserId 입력 후 이미지를 생성해 주세요</h2>
        {% endif %}
      </div>
    </div>
    <div class="popup">
      <b style="font-size: larger; background-color:whitesmoke; position:absolute; left:40%;">Text To Image</b>
      <button onclick="popupShutdown();" class="Shutdownbutton">X</button>
      <br>
      <hr>
      <!--언어 선택-->
      <div class="box1">   
        <input type="radius" style="width:500px; background-color:whitesmoke; border:0px;" value="한국어와 영어 중 어떤 언어를 입력하셔도 영어로 번역되어 사용됩니다."/>
      </div>
      <!-- 프롬프트, 필터 입력받는 칸 -->
      <div class="prompt">
        <div style="background-color:whitesmoke; display:flex; flex-direction:column">        
            <div id="pp" class="ppbox">
            <textarea cols="30" placeholder="positive prompt를 입력해주세요" style="height: 80px; width: 310px; margin: 0px; word-wrap: break-word; border-radius:10px; background-color:white;" type="text" name="ptext" id="p_text"></textarea>
            </div>
            <div id="np" class="npbox">
            <textarea cols="30" placeholder="negative prompt를 입력해주세요" style="height: 80px; width: 310px; margin: 0px; word-wrap: break-word; border-radius:10px; background-color:white;" type="text" name="ntext" id="n_text"></textarea>
            </div>
        </div>
        <div style="background-color:whitesmoke; display:flex; flex-direction:column; margin:9px;">
          <div style="background-color: whitesmoke; display:flex; flex-direction:row;">
              <input type="radius" style="width:72px; background-color:whitesmoke; border:0px;" value="선택된 필터: "/>
              <input type="text" style="width:77px; background-color:whitesmoke; border:0px;" id="sfilter" name="filter" value=""/>
          </div>
          <button id="createbtn" onclick="sendData();" class="createbtn" style="height:58px;">이미지 생성</button>
          <div style="background-color: whitesmoke; display:flex; flex-direction:row;">
            <input type="radius" style="width:51px; background-color:whitesmoke; border:0px; margin-top:38px;" value="cfg 값: "readonly/>
            <select id = "tcfg" style="background-color:whitesmoke; border-radius:10px;height:24px; margin-top:38px;">
              <option value ="7" style="background-color:whitesmoke;" selected>7</option>
              <option value ="9" style="background-color:whitesmoke;">9</option>
            </select>
          </div>
          <div class="input-with-tooltip" style="background-color: whitesmoke; display:flex; flex-direction:row;">
            <input type="radius" style="width:54px; height:24px; background-color:whitesmoke; border:0px;" value="steps 수: " readonly/>
                <span class="tooltip">"-steps 수는 15~45 사이의 값으로 입력해 주세요"</span>
            <input type="text" style="width:35px; height:16px; border-radius:5px; background-color:whitesmoke; border:1px black solid; margin-top:3px;" id="tsteps" name="tsteps" value="30"/>
          </div> 
          <div style="background-color:whitesmoke; display:flex;margin-top:15px;">
            <input type="checkbox" id="open" name="open"value="1">
            <label for="open" style="background-color:whitesmoke;"> 공개</label><br>
            <input type="checkbox" id="close" name="close"value="0">
            <label for="close" style="background-color:whitesmoke;"> 비공개</label><br>
          </div>
        </div>
      </div>
      <div style="background-color:whitesmoke; display:flex; flex-direction:column; justify-content:center; align-items:center">
        <svg id="circle1" style="display: none; margin-top: 40px">
          <circle cx="40" cy="40" r="40"></circle>
        </svg>
        <div id="loading" style="display: none; color: white; margin-bottom: 2px; position: relative; width: 250px; border-radius: 10px; margin-top:50px; height: 30px; text-align:center;">프로세스 중 ... 잠시 기다려주세요</div>
      </div>
      <!-- 필터 선택 칸 -->
      <div style="display: block; background-color: whitesmoke; margin-top:-30px;">
        <div class="filter" id="popup1_filter">
          <button class="p1filterbtn" style="width:76px;" onclick="selectfilter(1, 1)">
              <img src="/static/camping1_Compvis.jpeg" style="border-radius: 25px; width: 60px; height: 60px; background-color:white;" width="70px" height="80px;" />
              <b style="background-color:white; border-radius:10px; background-color:white;">CompVis</b>
          </button>
          <button class="p1filterbtn" style="width:76px;" onclick="selectfilter(1, 2)">
              <img src="/static/camping2_Majic.jpeg" style="border-radius: 25px; width: 60px; height: 60px; background-color:white;" width="70px" height="80px;"/>
              <b style="background-color:white; border-radius:10px; background-color:white;">MagicMix</b>
          </button>
          <button class="p1filterbtn" style="width:76px;" onclick="selectfilter(1, 3)">
            <img src="/static/camping3_Ghibli1.jpeg" style="border-radius: 25px; width: 60px; height: 60px; background-color: white;" width="70px" height="80px;"/>
            <b style="background-color: white; border-radius: 10px; background-color: white;">Ghibli1</b>
          </button>
          <button class="p1filterbtn" style="width:76px;" onclick="selectfilter(1, 4)">
              <img src="/static/camping4_MintReal.jpeg" style="border-radius: 25px; width: 60px; height: 60px; background-color:white;" width="70px" height="80px;"/>
              <b style="background-color:white; border-radius:10px; background-color:white;">MintReal</b>
          </button>
          <button class="p1filterbtn" style="width:76px;" onclick="selectfilter(1, 5)">
              <img src="/static/camping5_pastel.jpeg" style="border-radius: 25px; width: 60px; height: 60px; background-color:white;" width="70px" height="80px;"/>
              <b style="background-color:white; border-radius:10px; background-color:white;">PastelMix</b>
          </button>
          <button class="p1filterbtn" style="width:76px;" onclick="selectfilter(1, 6)">
              <img src="/static/camping6_Cetus.jpeg" style="border-radius: 25px; width: 60px; height: 60px; background-color:white;" width="70px" height="80px;"/>
              <b style="background-color:white; border-radius:10px; background-color:white;">CetusMix</b>
          </button>
        </div>
      </div>
    </div>
    <div class="popup2" id="popup2">
      <b style="font-size: larger; position:absolute; left:40%; background-color:whitesmoke;">Image To Image</b>
      <button onclick="popupShutdown2();" class="Shutdownbutton" cursor= "pointer" >X</button>
      <br>
      <hr style="margin-bottom:0px;">
      <div style="width:580px; height:812px; background-color:whitesmoke">
        <div style="background-color:whitesmoke; display:flex; flex-direction:row;">
          <div style="width:320px; background-color:whitesmoke; display:flex; flex-direction:column;">
            <!--파일 입력-->
            <div class="box3" >
              <input id="filename" class="input" type="file" name="file" style="width:195px">
              <button onclick="fileselect();" class="completefileselect">파일 선택 완료</button>
            </div>
            <div style="width:600px; margin-left:16px; background-color:whitesmoke; display:flex; flex-direction:row;">
              <textarea id="prompt" cols="30" type = "text" placeholder="한국어와 영어가 입력 가능, 영어로 번역되어 사용됩니다. positive prompt를 입력해주세요" name="inapint_ptext" style="height: 80px; width: 280px; margin: 0px; word-wrap: break-word; border-radius:10px; background-color:white;"></textarea>
              <textarea id="nprompt" cols="30" type = "text" placeholder="negative prompt를 입력해주세요" name="inpaint_ntext" style="height: 80px; width: 280px; margin: 0px; word-wrap: break-word; border-radius:10px; background-color:white; margin-left:15px;"></textarea>
            </div>
          </div>  
          <div style="background-color: whitesmoke; display:flex; flex-direction:column;" >
            <div style="background-color: whitesmoke; display:flex; flex-direction:column; position: absolute; top: 45px;" >
              <div style="background-color: whitesmoke; display:flex; flex-direction:row;">
                <input type="radius" style="width:51px; height:24px; background-color:whitesmoke; border:0px;" value="cfg 값: "readonly/>
                <select id = "icfg" style="background-color:whitesmoke; border-radius:10px;width:45px; height:24px; ">
                  <option value ="7" style="background-color:whitesmoke;"selected>7</option>
                  <option value ="7.5" style="background-color:whitesmoke;" >7.5</option>
                  <option value ="8" style="background-color:whitesmoke;">8</option>
                  <option value ="8.5" style="background-color:whitesmoke;">8.5</option>
                  <option value ="9" style="background-color:whitesmoke;">9</option>
                </select>
                  <div class="input-with-tooltip "style="background-color: whitesmoke; display:flex; flex-direction:row;">
                    <input type="radius" style="width:54px; height:24px; margin-left:10px; background-color:whitesmoke; border:0px;" value="steps 수:"  readonly/>
                        <span class="tooltip" style="position: absolute; left: -40px;">"-steps 수는 20~100 사이의 값으로 입력해 주세요"</span>
                    <input type="text" style="width:35px; height:16px; border-radius:5px; background-color:whitesmoke; border:1px black solid; margin-top:3px;" id="isteps" name="isteps" value="50"/>
                  </div>  
                </div>
              <div class="input-with-tooltip" style="background-color: whitesmoke; display:flex; flex-direction:row;">
                <input type="radius" style="width:110px; height:24px; background-color:whitesmoke; border:0px;" value="noise_strength 값: "  readonly/>
                    <span class="tooltip">"-0.3~1 사이의 값으로 입력해 주세요(0.3~0.5사이를 권장)"</span>
                <input type="text" style="width:35px; height:16px; border-radius:5px; background-color:whitesmoke; border:1px black solid; margin-top:3px;" id="noise" name="noise" value="0.4"/>
                <div style="background-color:whitesmoke; display: flex; margin-top: 0px; height: 25px;">
                  <input type="checkbox" id="open2" name="open"value="1">
                  <label for="open" style="background-color:whitesmoke;"> 공개</label><br>
                  <input type="checkbox" id="close2" name="close"value="0">
                  <label for="close" style="background-color:whitesmoke;"> 비공개</label><br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="background-color:whitesmoke; width:100%; margin-left:22px; display:flex; flex-direction:row">
          <div style="background-color:whitesmoke; width:538px;height:620px;margin-bottom:-3px;">
            <div style="display: flex; background-color: whitesmoke;">
                <div style="background-color:whitesmoke; margin-top:2px; float:left;">
                  <canvas id="cnvs" class="drawbox" width="512" height="514" style=" margin:13px"></canvas>   
                </div>
            </div>
            <div class="filter" style="width:340px; height:20px; margin-top:-10px;" id="popup2_filter">
              <button class="filterbtn" onclick="selectfilter(2,1)">
                  <img src="/static/camping2_Majic.jpeg" style="border-radius: 25px; width: 55px; height: 60px; background-color:white;" width="70px" height="80px;"/>
                  <b style="background-color:white; border-radius:10px; background-color:white; font-size:12px;">MagicMix</b>
              </button>
              <button class="filterbtn" onclick="selectfilter(2,2)">
                  <img src="/static/camping3_Ghibli1.jpeg" style="border-radius: 25px; width: 55px; height: 60px; background-color:white;" width="70px" height="80px;"/>
                  <b style="background-color:white; border-radius:10px; background-color:white; font-size:12px;">Ghibli</b>
              </button>
              <button class="filterbtn" onclick="selectfilter(2,3)">
                  <img src="/static/camping4_MintReal.jpeg" style="border-radius: 25px; width: 55px; height: 60px; background-color:white;" width="70px" height="80px;"/>
                  <b style="background-color:white; border-radius:10px; background-color:white; font-size:12px;">MintReal</b>
              </button>
              <button class="filterbtn"  onclick="selectfilter(2,4)">
                  <img src="/static/camping6_Cetus.jpeg" style="border-radius: 25px; width: 55px; height: 60px; background-color:white;" width="70px" height="80px;" />
                  <b style="background-color:white; border-radius:10px; background-color:white; font-size:12px;">CetusMix</b>
              </button>
            </div>
            <div style="background-color:whitesmoke; display:flex; flex-direction:column; margin-left:360px; margin-top:-14px" id="popup2_buttons">
              <div style="background-color: whitesmoke; display:flex; flex-direction:row;">
                <input type="radius" style="width:72px; background-color:whitesmoke; border:0px;" value="선택된 필터: "/>
                <input type="text" style="width:77px; background-color:whitesmoke; border:0px;" id="sfilter2" name="filter2" value=""/>
              </div>
              <button id="sendBtn" class="createbtn" style="margin:0px;">이미지 생성</button> 
            </div>
          </div>

          <div style="background-color:whitesmoke; display:none; flex-direction:column; justify-content:center; align-items:center; margin-right:140px;" id="popup2_div">
            <svg id="circle2" style="display: none; margin-top: 100px; margin-left: 80px;">
              <circle cx="40" cy="40" r="40"></circle>
            </svg>
            <div id="loading1" style="display: none; color: white; margin-bottom: 2px; position: relative; width: 230px; border-radius: 10px; margin-top:50px; height: 30px; margin-left:10px; text-align:center;">프로세스 중 ... 잠시 기다려주세요</div>
          </div>

          <!-- 그림판 -->
          <div class="toolbox" >
            <button id="btnSave" style="margin: 1px; width: 30px; border-radius:10px; background-color:white; float:right; vertical-align: middle;">저장하기</button>
            <!-- 도트크기 -->
            <select id="dot" style="margin: 1px; width: 50px; margin-left:-10px; border-radius:10px; background-color:white; float:right; margin-right:2px; vertical-align: middle;">
                <option value="1">1px</option>
                <option value="2">2px</option>
                <option value="3">3px</option>
                <option value="4">4px</option>
                <option value="5">5px</option>
                <option value="6">6px</option>
                <option value="7">7px</option>
                <option value="8">8px</option>
                <option value="9">9px</option>
                <option value="10">10px</option>
                <option value="11">11px</option>
                <option value="12">12px</option>
                <option value="13">13px</option>
                <option value="14">14px</option>
                <option value="15">15px</option>
            </select>
            <button id="btnAllDel" style="margin: 1px; width: 30px; border-radius:10px; background-color:white; float:right; margin-right:2px; vertical-align: middle;">전체지우기</button>
            <!-- 색깔 -->
            <input type="color" id="color"  value="#ffffff" style="margin: 1px; width: 30px; height:40px; border-radius:10px; background-color:white; float:right; vertical-align: middle;"/>         
            <button style="margin: 1px; width: 30px; height:105px; border:0px; border-radius:10px; background-color:whitesmoke; float:right; vertical-align: middle;" readonly>그리기 도구</button>
          </div>  
        </div>
      </div>
    </div>
    <div class="popup3" id="popup3">
      <b style="font-size: larger; position:absolute; left:40%; background-color:whitesmoke;">InPainting</b>
      <button onclick="popupShutdown3();" class="Shutdownbutton" cursor= "pointer" >X</button>
      <br>
      <hr style="margin-bottom:0px;">
      <div style="width:580px; height:812px; background-color:whitesmoke">
        <div style="background-color:whitesmoke; display:flex; flex-direction:row;">
          <div style="width:300px; background-color:whitesmoke; display:flex; flex-direction:column;">
            <div class="box3" style="width:550px; margin-left:45px;">
              <input type="radius" style="width:120px; background-color:whitesmoke; border:0px;" value="변경하고 싶은 이미지: "readonly/>
              <input id="filename3" class="input" type="file" name="file1">
              <button onclick="fileselect3();" class="completefileselect">파일 선택 완료</button>
              <div style="background-color:whitesmoke; display: flex; margin-top: 10px; height: 25px;">
                <input type="checkbox" id="open3" name="open" value="1">
                <label for="open" style="background-color:whitesmoke;"> 공개</label><br>
                <input type="checkbox" id="close3" name="close" value="0">
                <label for="close" style="background-color:whitesmoke;"> 비공개</label><br>
              </div>
            </div>
            <div style="width:600px; margin-left:17px; background-color:whitesmoke; display:flex; flex-direction:row;">
              <textarea id="inpaint_prompt" cols="30" type = "text" placeholder="한국어와 영어가 입력 가능, 영어로 번역되어 사용됩니다. positive prompt를 입력해주세요" name="inapint_ptext" style="height: 80px; width: 280px; margin: 0px; word-wrap: break-word; border-radius:10px; background-color:white;"></textarea>
              <textarea id="inpaint_nprompt" cols="30" type = "text" placeholder="negative prompt를 입력해주세요" name="inpaint_ntext" style="height: 80px; width: 280px; margin: 0px; word-wrap: break-word; border-radius:10px; background-color:white; margin-left:15px;"></textarea>
            </div>
          </div>
        </div>
        <div style="background-color:whitesmoke; width:100%; margin-left:26px; display:flex; flex-direction:row">
            <div style="background-color:whitesmoke; width:538px;height:620px;margin-bottom:-3px;">
              <div style="display: flex; background-color: whitesmoke;">
                <div style="background-color:whitesmoke; margin-top:2px; float:left;">
                  <canvas id="backgroundCanvas" class="drawbox" width="512" height="512" style=" margin:13px"></canvas>
                  <canvas id="cnvs3" class="drawbox" width="512" height="512" style="position: absolute; top:185px; left:29px; background-color:transparent;"></canvas>   
                </div>
              </div>       
              <div class="filter" style="width:340px; height:20px; margin-top:-10px;" id="popup3_filter">
                <button class="filterbtn" onclick="selectfilter(3,1)">
                    <img src="/static/camping2_Majic.jpeg" style="border-radius: 25px; width: 55px; height: 60px; background-color:white;" width="70px" height="80px;"/>
                    <b style="background-color:white; border-radius:10px; background-color:white; font-size:12px;">MagicMix</b>
                </button>
                <button class="filterbtn" onclick="selectfilter(3,2)">
                    <img src="/static/camping3_Ghibli1.jpeg" style="border-radius: 25px; width: 55px; height: 60px; background-color:white;" width="70px" height="80px;"/>
                    <b style="background-color:white; border-radius:10px; background-color:white; font-size:12px;">Ghibli</b>
                </button>
                <button class="filterbtn" onclick="selectfilter(3,3)">
                    <img src="/static/camping5_pastel.jpeg" style="border-radius: 25px; width: 55px; height: 60px; background-color:white;" width="70px" height="80px;"/>
                    <b style="background-color:white; border-radius:10px; background-color:white; font-size:12px;">PastelMix</b>
                </button>
                <button class="filterbtn"  onclick="selectfilter(3,4)">
                    <img src="/static/camping4_MintReal.jpeg" style="border-radius: 25px; width: 55px; height: 60px; background-color:white;" width="70px" height="80px;" />
                    <b style="background-color:white; border-radius:10px; background-color:white; font-size:12px;">MintReal</b>
                </button>
              </div>
              <div style="background-color:whitesmoke; display:flex; flex-direction:column; margin-left:360px; margin-top:-14px" id="popup3_buttons">
                <div style="background-color: whitesmoke; display:flex; flex-direction:row;">
                  <input type="radius" style="width:72px; background-color:whitesmoke; border:0px;" value="선택된 필터: "/>
                  <input type="text" style="width:77px; background-color:whitesmoke; border:0px;" id="sfilter3" name="filter3" value=""/>
                </div>
                <button id="sendBtn3" class="createbtn" style="margin-top:1px; margin-left:0px;">이미지 생성</button>
              </div>
            </div>

            <div style="background-color:whitesmoke; display:none; flex-direction:column; justify-content:center; align-items:center; margin-right:140px;" id="popup3_div">
              <svg id="circle3" style="display: none; margin-top: 90px; margin-left:75px;">
                <circle cx="40" cy="40" r="40"></circle>
              </svg>
              <div id="loading2" style="display: none; color: white; margin-bottom: 2px; position: relative; width: 222px; border-radius: 10px; margin-top:50px; height: 30px; text-align:center;">프로세스 중 ... 잠시 기다려주세요</div>
            </div>

            <!-- 그림판 -->
            <div class="toolbox">
              <button id="btnSave3" style="margin: 1px; width: 30px; border-radius:10px; background-color:white; float:right; vertical-align: middle;">저장하기</button>
              <!-- 도트크기 -->
              <select id="dot3" style="margin: 1px; width: 50px; margin-left:-10px; border-radius:10px; background-color:white; float:right; margin-right:2px; vertical-align: middle;">
                  <option value="1">1px</option>
                  <option value="2">2px</option>
                  <option value="3">3px</option>
                  <option value="4">4px</option>
                  <option value="5">5px</option>
                  <option value="6">6px</option>
                  <option value="7">7px</option>
                  <option value="8">8px</option>
                  <option value="9">9px</option>
                  <option value="10">10px</option>
                  <option value="11">11px</option>
                  <option value="12">12px</option>
                  <option value="13">13px</option>
                  <option value="14">14px</option>
                  <option value="15">15px</option>
              </select>
              <button id="btnAllDel3" style="margin: 1px; width: 30px; border-radius:10px; background-color:white; float:right; margin-right:2px; vertical-align: middle;">전체지우기</button>
              <!-- 색깔 -->
              <input type="color" id="color3"  value="#ffffff" style="margin: 1px; width: 30px; height:40px; border-radius:10px; background-color:white; float:right; vertical-align: middle;"/>         
              <button style="margin: 1px; width: 30px; height:105px; border:0px; border-radius:10px; background-color:whitesmoke; float:right; vertical-align: middle;" readonly>그리기 도구</button>
            </div>  
        </div>
      </div>
    </div>
    <div class="popup4" id="popup4">
      <b style="font-size: larger; position:absolute; left:40%; background-color:whitesmoke;">Open Pose</b>
      <button onclick="popupShutdown4();" class="Shutdownbutton" cursor= "pointer" >X</button>
      <br>
      <hr style="margin-bottom:0px;">
      <div style="width:580px; height:800px; background-color:whitesmoke">
        <div style="background-color:whitesmoke; display:flex; flex-direction:row;">
          <div style="width:350px; background-color:whitesmoke; display:flex; flex-direction:column;">
            <!--파일 입력-->
            <div class="box3" style="width:550px; margin-left:35px;">
              <input type="radius" style="width:120px; background-color:whitesmoke; border:0px;" value="pose가 담긴 이미지: "readonly/>
              <input id="filename4" class="input" type="file" name="file1">
              <button onclick="fileselect4();" class="completefileselect">파일 선택 완료</button>
              <div style="background-color:whitesmoke; display: flex; margin-top: 10px; height: 25px;">
                <input type="checkbox" id="open4" name="open" value="1">
                <label for="open" style="background-color:whitesmoke;"> 공개</label><br>
                <input type="checkbox" id="close4" name="close" value="0">
                <label for="close" style="background-color:whitesmoke;"> 비공개</label><br>
              </div>
            </div>
            <div style="width:600px; margin-left:17px; background-color:whitesmoke; display:flex; flex-direction:row;">
              <textarea id="pose_prompt" cols="30" type = "text" placeholder="한국어와 영어가 입력 가능, 영어로 번역되어 사용됩니다. positive prompt를 입력해주세요" name="pose_ptext" style="height: 80px; width: 275px; margin: 0px; word-wrap: break-word; border-radius:10px; background-color:white;"></textarea>
              <textarea id="pose_nprompt" cols="30" type = "text" placeholder="negative prompt를 입력해주세요" name="pose_ntext" style="height: 80px; width: 262px; margin: 0px; word-wrap: break-word; border-radius:10px; background-color:white; margin-left:15px;"></textarea>
            </div>
          </div>
        </div>

        <div style="background-color:whitesmoke; display:none; flex-direction:column; justify-content:center; align-items:center; margin-right:140px;" id="popup4_div">
          <svg id="circle4" style="display: none; margin-top: 110px; margin-left:245px;">
            <circle cx="40" cy="40" r="40"></circle>
          </svg>
          <div id="loading3" style="display: none; color: white; margin-bottom: 2px; position: relative; width: 222px; border-radius: 10px; margin-top:50px; height: 30px; margin-left:180px; text-align:center;">프로세스 중 ... 잠시 기다려주세요</div>
        </div>

        <div style="background-color:whitesmoke; width:100%; margin-left:26px; display:flex; flex-direction:row">
          <div style="background-color:whitesmoke; width:538px;height:620px;margin-bottom:-3px;">              
            <div style="display: flex; background-color: whitesmoke;">
              <div style="background-color:whitesmoke; margin-top:2px; float:left;">
                <img id="poseimg" class="drawbox" width="512" height="514" style=" margin:13px"></img>   
              </div>
            </div>     
            <div class="filter" style="width:340px; height:20px; margin-left:20px; margin-top:-10px;" id="popup4_filter">
              <button class="filterbtn" onclick="selectfilter(4,1)">
                  <img src="/static/camping2_Majic.jpeg" style="border-radius: 25px; width: 55px; height: 60px; background-color:white;" width="70px" height="80px;"/>
                  <b style="background-color:white; border-radius:10px; background-color:white; font-size:12px;">MagicMix</b>
              </button>
              <button class="filterbtn" onclick="selectfilter(4,2)">
                  <img src="/static/camping3_Ghibli1.jpeg" style="border-radius: 25px; width: 55px; height: 60px; background-color:white;" width="70px" height="80px;"/>
                  <b style="background-color:white; border-radius:10px; background-color:white; font-size:12px;">Ghibli</b>
              </button>
              <button class="filterbtn" onclick="selectfilter(4,3)">
                  <img src="/static/camping4_MintReal.jpeg" style="border-radius: 25px; width: 55px; height: 60px; background-color:white;" width="70px" height="80px;"/>
                  <b style="background-color:white; border-radius:10px; background-color:white; font-size:12px;">MintReal</b>
              </button>
              <button class="filterbtn"  onclick="selectfilter(4,4)">
                <img src="/static/camping6_Cetus.jpeg" style="border-radius: 25px; width: 55px; height: 60px; background-color:white;" width="70px" height="80px;" />
                <b style="background-color:white; border-radius:10px; background-color:white; font-size:12px;">CetusMix</b>
              </button>
            </div>
            <div style="background-color:whitesmoke; display:flex; flex-direction:column; margin-left:360px; margin-top:-14px" id="popup4_buttons">
              <div style="background-color: whitesmoke; display:flex; flex-direction:row;">
                <input type="radius" style="width:72px; background-color:whitesmoke; border:0px;" value="선택된 필터: "/>
                <input type="text" style="width:77px; background-color:whitesmoke; border:0px;" id="sfilter4" name="filter4" value=""/>
              </div>
              <button id="sendBtn4" onclick="createWithPose();" class="createbtn" style="margin-top:1px; margin-left:0px;">이미지 생성</button>
            </div> 
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        $('#createbtn').click(function() {
            $('#popup1_filter').hide();
            $('#loading').show();
            $('#circle1').show();
            //var popupElement = document.getElementById('popup');
            //popupElement.style.pointerEvents = 'none';
        })
        $('#sendBtn').click(function() {
            $('#cnvs').hide();
            $('#popup2_filter').hide();
            $('#popup2_buttons').hide();
            $('#popup2_div').show();
            $('#loading1').show();
            $('#circle2').show();
        })
        $('#sendBtn3').click(function() {
            $('#backgroundCanvas').hide();
            $('#cnvs3').hide();
            $('#popup3_filter').hide();
            $('#popup3_buttons').hide();
            $('#popup3_div').show();
            $('#loading2').show();
            $('#circle3').show();
        })
        $('#sendBtn4').click(function() {
            $('#poseimg').hide();
            $('#popup4_filter').hide();
            $('#popup4_buttons').hide();
            $('#popup4_div').show();
            $('#loading3').show();
            $('#circle4').show();
        })
        });
    </script>
  </body>
  </html>